body {
	font-family: verdana;
}

#codigo input[type="text"]{
	font-size: 15px;
	border-radius: 10px;
} 

#codigo i {
	color: #2578BE;
	font-weight: bold;
	font-size: 18px;
}

a {
	font-size: 18px;
}

#codigo input[type="submit"]:hover {
	background-color: #C2C2C2;
	color: black;
	cursor: pointer;
}

#boton{
	border: none;
	margin-top: 15px;
	height: 50px;
	background-color: #2578BE;
	font-weight: bold;
	font-size: 16px;
	border-radius: 10px;
	color: white;
	outline: none;
}